<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {% block stylesheets %}
            <link href="{{ asset('/css/main.css') }}" rel="stylesheet" />
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
        {% block javascript %}{% endblock %}
        {% block head %}{% endblock %}
    </head>
    <body>
        <main>
            <nav class="site-header">
                <div class="site-identity">
                    <a href="/start"><h1>Admin console </h1></a>
                </div>
                <div class="site-menu">
                    <a href="/start">Overview</a>
                </div>
            </nav>
            {% block body %}{% endblock %}<br/>
        </main>
        <footer>
            <p>Made by <a href="https://github.com/Reconnact" style="color: #4285f4;">Reconnact</a></p>
        </footer>
    </body>
</html>

